body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
.students{
    font-size: 18px;
}
#orange{
    color:rgb(247, 135, 37);
}

button{
cursor: pointer;
border-radius: 2px;
border-style: solid;
text-decoration: none;
}

button:hover{
    background-color: rgba(128, 128, 128, 0.532);
    color: white;
    transition: background-color 1s, color 1s;
}

